<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Machine Learning Menu</title>
</head>
<body>
    <h1>Machine Learning Menu</h1>
    <form action="/model_info" method="post">
        {% for model in models %}
            <button type="submit" name="model_id" value="{{ model.id }}">{{ model.name }}</button>
        {% endfor %}
    </form>
</body>
</html>
